In [7]:
def mk_wd(balance):
    """
    Return the balance after withdrawal since inception
    """
    def wd(amount):
        nonlocal balance
        if amount > balance:
            return "Insufficient funds"
        balance -= amount
        return balance

    return wd

# Example usage
rem = mk_wd(100)  # deposit $100
print(rem(10))    # Output: 90
print(rem(20))    # Output: 70
print(rem(100))   # Output: 'Insufficient funds'

90
70
Insufficient funds

In [8]:
def rm_all(elem, lst):
    """
    Remove all instances of the specified element from the list.
    """
    lst[:] = [x for x in lst if x != elem]

# Example usage
x = [3, 1, 2, 1, 5, 1, 1, 7]
rm_all(1, x)
print(x)

[3, 2, 5, 7]

In [9]:
def add_many(x, elem, lst):
    """
    Adds elem to the end of lst the number of times x occurs in lst.
    """
    lst.extend([elem] * lst.count(x))

# Example usage
lst = [1, 2, 4, 2, 1]
add_many(2, 5, lst)
print(lst)

[1, 2, 4, 2, 1, 5, 5]

In [11]:
def f(suits, numbers):
    """
    Creates a new list with the given suits and numbers.
    Each element in the returned list should be of the form [suit, number].
    """
    result = []

    for suit in suits:
        for number in numbers:
            result.append([suit, number])

    return result

# Example usage
print(f(['S', 'C'], [1, 2, 3]))
print(f(['S', 'C'], [3, 2, 1]))
print(f([], [3, 2, 1]))
print(f(['S', 'C'], []))

[['S', 1], ['S', 2], ['S', 3], ['C', 1], ['C', 2], ['C', 3]]
[['S', 3], ['S', 2], ['S', 1], ['C', 3], ['C', 2], ['C', 1]]
[]
[]

In [13]:
def mrg(ls1, ls2):
    """
    Merges two sorted lists recursively.
    """
    # Base case: if one of the lists is empty, return the other list
    if not ls1:
        return ls2
    if not ls2:
        return ls1

    # Recursive case: compare the first elements of both lists
    if ls1[0] < ls2[0]:
        return [ls1[0]] + mrg(ls1[1:], ls2)
    else:
        return [ls2[0]] + mrg(ls1, ls2[1:])

# Example usages
print(mrg([1, 3, 5], [2, 4, 6]))  # Output: [1, 2, 3, 4, 5, 6]
print(mrg([], [2, 4, 6]))          # Output: [2, 4, 6]
print(mrg([1, 2, 3], []))          # Output: [1, 2, 3]
print(mrg([5, 7], [2, 4, 6]))      # Output: [2, 4, 5, 6, 7]

[1, 2, 3, 4, 5, 6]
[2, 4, 6]
[1, 2, 3]
[2, 4, 5, 6, 7]

In [14]:
def fltn(ls):
    """
    Return a new version of list as a flattened list.
    """
    result = []

    for item in ls:
        if isinstance(item, list):
            result.extend(fltn(item))
        else:
            result.append(item)

    return result

# Example usages
print(fltn([1, 2, 3]))                  # Output: [1, 2, 3]
print(fltn([1, [2, 3], 4]))              # Output: [1, 2, 3, 4]
print(fltn([[1, [1, 1]], 1, [1, 1]]))    # Output: [1, 1, 1, 1, 1, 1]

[1, 2, 3]
[1, 2, 3, 4]
[1, 1, 1, 1, 1, 1]

In [15]:
def chk_elm(lst, n):
    """
    Check if the element exists in the list or not.
    """
    for item in lst:
        if isinstance(item, list):
            # Recursively check in the nested list
            if chk_elm(item, n):
                return True
        elif item == n:
            # Check if the current element matches the target element
            return True

    return False

# Example usage
a = [[1, [2]], 3, [[4], [5, [6]]]]
print(chk_elm(a, 6))  # Output: True

True

In [16]:
def sym(l):
    """
    Returns whether a list is symmetric or not.
    """
    if len(l) <= 1:
        return True  # An empty list or a single-element list is symmetric

    if l[0] == l[-1]:
        # Recursively check the sublist excluding the first and last elements
        return sym(l[1:-1])
    else:
        return False

# Example usages
print(sym([]))              # Output: True
print(sym([1]))             # Output: True
print(sym([1, 4, 5, 1]))    # Output: False
print(sym([1, 4, 4, 1]))    # Output: True
print(sym(['l', 'o', 'l'])) # Output: True

True
True
False
True
True

In [18]:
from functools import reduce
from operator import add, sub, mul

def fld(lst, g, m):
    """
    Return the result of applying the function g to the initial value m
    and the elements in lst, using a left fold.
    """
    if not lst:
        return m  # Return m if lst is empty
    else:
        # Apply the function g to the initial value and the first element in lst
        result = g(m, lst[0])
        # Recursively apply g to the result and the rest of the elements in lst
        return fld(lst[1:], g, result)

# Example usages
s = [3, 2, 1]
print(fld(s, sub, 0))    # Output: -6
print(fld(s, add, 0))    # Output: 6
print(fld(s, mul, 1))    # Output: 6
print(fld([], sub, 100)) # Output: 100

-6
6
6
100

In [19]:
def crte_2d_arr(rows, columns):
    """
    Create a 2D array with the specified number of rows and columns.
    """
    # Use list comprehension to create the 2D array with '-' as the default value
    return [['-' for _ in range(columns)] for _ in range(rows)]

# Example usage
result = crte_2d_arr(3, 5)
print(result)

[['-', '-', '-', '-', '-'], ['-', '-', '-', '-', '-'], ['-', '-', '-', '-', '-']]